@font-face {
  font-family: "Canva Sans";
  src: url("./assets/fonts/canva-sans-latin.woff2") format("woff2"),
    url("./assets/fonts/canva-sans-latin.woff") format("woff");
  font-style: normal;
  font-display: block;
  font-weight: var(--font-weight-regular) var(--font-weight-bold);
  unicode-range: U+0020-007e, U+00a0, U+00a2-00a9, U+00ac-00ae, U+00b0,
    U+00b4-00b7, U+00d7, U+00f7, U+0300-0304, U+0306-0308, U+030a-030c, U+0312,
    U+0326-0328, U+2013-2014, U+2018-201a, U+201c-201e, U+2020-2022, U+2026,
    U+2117, U+2120, U+2122, U+2190-2199, U+fb01-fb02, U+feff, U+fffc-fffd;
}

@font-face {
  font-family: "Canva Sans";
  font-style: normal;
  font-display: block;
  font-weight: var(--font-weight-regular) var(--font-weight-bold);
  src: local("Canva Sans"),
    url("./assets/fonts/canva-sans-latin-ext.woff2") format("woff2"),
    url("./assets/fonts/canva-sans-latin-ext.woff") format("woff");
  unicode-range: U+00a1, U+00aa-00ab, U+00af, U+00b8, U+00ba-00bb, U+00bf,
    U+00c0-00d6, U+00d8-00f6, U+00f8-0148, U+014a-017e, U+0192, U+01b5-01b6,
    U+01fc-01fd, U+0218-021b, U+0237, U+02c6-02c7, U+02c9, U+02d8-02dd,
    U+1e80-1e85, U+1e9e, U+1ef2-1ef3, U+2030, U+2039-203a, U+20ac, U+20ba,
    U+2113;
}

:root {
  font-family: "Canva Sans";
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Canva Sans";
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: white;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Canva Sans";
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
